html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

h1 {
  color: darkgreen; }

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.post-item {
  width: 50%;
  padding: 20px;
  text-align: center;
  border-bottom: 1px dotted black;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .post-item:nth-last-child(1), .post-item:nth-last-child(2) {
    border-bottom: none; }
  .post-item:nth-child(odd) {
    border-right: 1px dotted black; }
  .post-item:hover {
    background-color: skyblue; }
  .post-item.povrce:hover {
    background-color: lightcoral; }

.moj-menu {
  padding: 20px 0; }
  .moj-menu li {
    display: inline;
    padding: 0 30px; }

.full-width-image {
  width: 100%;
  height: auto; }

.obican-post, .aside-post, .comment-block {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center; }

.obican-post {
  background-color: skyblue; }

.aside-post {
  background-color: lightcoral; }
